html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.box{
    padding:20px;
    margin: 10px 0;
    border-radius: 10px;
    color:#333;
    font-weight: bold;
    box-shadow : 0 4px 6px rgba(0,0,0,0.1);
    overflow : hidden;
    word-wrap : break-word;
}