@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>This is an Azure AI powered document and resume analyzer (alpha). Developed by Sreejith Vijayan as part of learning purpose. Please provide feedback or suggestions at sreejith.vijay85@gmail.com</p>

